{{!< main }}

<div class="row">
  <div class="message error columns col-xs-12">
    <h3>There was an error sending your test email</h3>

    <p>{{error}}</p>

    <a class="btn btn-primary" href="/admin/email/test">Go Back</a>
  </div>
</div>
