<section id="categories" class="row">
  <div class="col-xs-12">
    <h2>Categories</h2>
    <p>There will be <strong>three different categories</strong>, <br>you can submit your game to any of them - it's up to you.</p>
  </div>
	<article class="col-md-4">
		<img src="/img/category-desktop.png" style="width: 150px; height: 150px;" alt="Prize">
		<div>
			<h3>Desktop</h3>
			<p>Full power of the hardware.</p>
		</div>
	</article>
	<article class="col-md-4">
		<img src="/img/category-mobile.png" style="width: 150px; height: 150px;" alt="Prize">
		<div>
			<h3>Mobile</h3>
			<p>Mobile touch devices.</p>
		</div>
	</article>
	<article class="col-md-4">
		<img src="/img/category-server.png" style="width: 150px; height: 150px;" alt="Prize">
		<div>
			<h3>Server</h3>
			<p>Node.js multiplayer.</p>
		</div>
	</article>
	<p>There will also be a <strong>Twitter</strong>, <strong>Facebook</strong> and <strong>Google+ Specials</strong> just like before, <br>and the famous <strong>Community Awards</strong> voted among all the participants.</p>
	<a class="up" href="/"></a>
</section>