
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>js13kGames - HTML5 and JavaScript Game Development Competition in just 13 kilobytes</title>
	<meta name="author" content="end3r">
	<link rel="shortcut icon" href="/img/favicon.png">
	<link rel="stylesheet" href="/css/legacy2012.css">
	<meta name="description" content="Js13kGames is a JavaScript coding competition for HTML5 game developers. The fun part of the compo is the file size limit set to 13 kilobytes. The main theme for 2013 is bad luck, though it is not mandatory." />
	<meta property="og:image" content="http://js13kgames.com/img/banner.png" />
	<meta property="og:url" content="http://js13kgames.com" />
	<meta property="og:title" content="js13kGames - HTML5 and JavaScript Game Development Competition in just 13 kilobytes" />
	<meta property="og:description" content="Js13kGames is a JavaScript coding competition for HTML5 game developers. The fun part of the compo is the file size limit set to 13 kilobytes. The main theme for 2013 is bad luck, though it is not mandatory."/>
</head>
<body>
<header>
	<nav>
		<a class="logo" href="http://2013.js13kgames.com">js13kGames</a>
		<ul>
			<li><a href="#sponsors">Sponsors</a></li>
			<li><a href="#winners">Winners</a></li>
			<li><a href="http://js13kgames.com/entries/2013">Entries</a></li>
			<li><a href="#judges">Judges</a></li>
			<li><a href="#prizes">Prizes</a></li>
			<li class="years"><a href="http://2015.js13kgames.com/">2015</a><a href="http://2014.js13kgames.com/">2014</a><a href="http://2012.js13kgames.com/">2012</a></li>
		</ul>
	</nav>
</header>

<h1>HTML5 and JavaScript Game Development Competition in just 13 kB</h1>

<div class="content">
<section id="home" class="cf">
	<h2>What is js13kGames?</h2>
	<div class="tweetBox">
		<h3>Follow us on</h3>
		<ul>
			<li class="twitter"><a href="http://twitter.com/js13kgames"><span>Twitter.com/js13kGames</span></a></li>
			<li class="facebook"><a href="http://facebook.com/js13kgames"><span>Facebook.com/js13kGames</span></a></li>
		</ul>
	</div>
	<img class="avatar" src="img/avatar.jpg" />
	<div class="intro">
		<p><strong>Js13kGames</strong> is a JavaScript coding competition for <strong>HTML5 game developers</strong>. The fun part of the compo is the file size limit set to <strong>13&nbsp;kilobytes</strong>. The main theme for 2013 is <strong>bad luck</strong>, though it's not mandatory. Competition started at <strong>13:00 CEST, 13th August 2013</strong><br /> and ended at <strong>13:00 CEST, 13th September 2013</strong>.</p>
		<p>The competition is organized by <a target="_blank" href="http://twitter.com/end3r">Andrzej Mazur</a> from <a target="_blank" href="http://enclavegames.com/">Enclave Games</a>. See the <a href="#rules">Rules</a> section for detailed info about the official rules of the competition.</p>
		<p>Good... bad luck to you all and <strong>have fun</strong>!</p>
	</div>
</section>

<section id="sponsors">
	<h2>Sponsors</h2>
	<a class="partner" href="http://boostermedia.com/"><img src="img/sponsors/boostermedia.png"></a>
	<a class="partner" href="http://www.gamemix.com/"><img src="img/sponsors/gamemix.png"></a>
	<a class="partner" href="https://modulus.io/"><img src="img/sponsors/modulus.png"></a>
	<a class="partner" href="http://www.mozilla.org/"><img src="img/sponsors/mozilla.png"></a>
	<a class="partner" href="http://www.spilgames.com/"><img src="img/sponsors/spilgames.png"></a>
	<p>Share the love for HTML5 games and support the js13kGames competition!<br />See the <a href="#contact">Contact</a> section for more details on how to get in touch.</p>
	<a class="up" href="/"></a>
</section>

<section id="winners">
<section id="winners-desktop">
	<h2>Winners - desktop (oveall)</h2>
	<article class="winner">
		<img src="http://js13kgames.com/games/radius-raid/__small.jpg" alt="Radius Raid" />
		<h3><span>1st place</span> <a href="http://js13kgames.com/entries/radius-raid">Radius Raid</a> <span>by</span> Jack Rugile</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/junojs/__small.jpg" alt="JunoJS" />
		<h3><span>2nd place</span> <a href="http://js13kgames.com/entries/junojs">JunoJS</a> <span>by</span> Robert Kotecki</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/angry-boars/__small.jpg" alt="Angry Boars" />
		<h3><span>3rd place</span> <a href="http://js13kgames.com/entries/angry-boars">Angry Boars</a> <span>by</span> Saturnyn</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/nigos-cave/__small.jpg" alt="Nigo's Cave" />
		<h3><span>4th place</span> <a href="http://js13kgames.com/entries/nigos-cave">Nigo's Cave</a> <span>by</span> Felipe Alfonso</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/traffic/__small.jpg" alt="Traffic" />
		<h3><span>5th place</span> <a href="http://js13kgames.com/entries/traffic">Traffic</a> <span>by</span> Krisztián Tóth</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/glowbougs/__small.jpg" alt="Glowbougs" />
		<h3><span>6th place</span> <a href="http://js13kgames.com/entries/glowbougs">Glowbougs</a> <span>by</span> Mr Speaker</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/origin/__small.jpg" alt="Origin" />
		<h3><span>7th place</span> <a href="http://js13kgames.com/entries/origin">Origin</a> <span>by</span> Evan Hahn</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/staccato/__small.jpg" alt="Staccato" />
		<h3><span>8th place</span> <a href="http://js13kgames.com/entries/staccato">Staccato</a> <span>by</span> Siorki</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/untitled13/__small.jpg" alt="untitled13" />
		<h3><span>9th place</span> <a href="http://js13kgames.com/entries/untitled13">untitled13</a> <span>by</span> Gheja</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/life-of-blobb/__small.jpg" alt="Life of Blobb" />
		<h3><span>10th place</span> <a href="http://js13kgames.com/entries/life-of-blobb">Life of Blobb</a> <span>by</span> Alex Gyoshev</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/bouncing-button/__small.jpg" alt="Bouncing Button" />
		<h3><span>11th place</span> <a href="http://js13kgames.com/entries/bouncing-button">Bouncing Button</a> <span>by</span> Csaba Csecskedi</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/floor-thirteen/__small.jpg" alt="Floor Thirteen" />
		<h3><span>12th place</span> <a href="http://js13kgames.com/entries/floor-thirteen">Floor Thirteen</a> <span>by</span> Florent Cailhol</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/achluophobia/__small.jpg" alt="Achluophobia" />
		<h3><span>13th place</span> <a href="http://js13kgames.com/entries/achluophobia">Achluophobia</a> <span>by</span> Daniel Jeffery</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/candy-wrapper/__small.jpg" alt="Candy Wrapper" />
		<h3><span>14th place</span> <a href="http://js13kgames.com/entries/candy-wrapper">Candy Wrapper</a> <span>by</span> Vitaliy Maslikov (Troilk)</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/under-the-crypt/__small.jpg" alt="Under the Crypt" />
		<h3><span>15th place</span> <a href="http://js13kgames.com/entries/under-the-crypt">Under the Crypt</a> <span>by</span> Arne</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/rogueluck/__small.jpg" alt="Rogueluck" />
		<h3><span>16th place</span> <a href="http://js13kgames.com/entries/rogueluck">Rogueluck</a> <span>by</span> Paras1te</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/lucky-streak/__small.jpg" alt="Lucky Streak" />
		<h3><span>17th place</span> <a href="http://js13kgames.com/entries/lucky-streak">Lucky Streak</a> <span>by</span> Mike Ferron</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/dodger/__small.jpg" alt="Dodger" />
		<h3><span>18th place</span> <a href="http://js13kgames.com/entries/dodger">Dodger</a> <span>by</span> Girish Budhwani</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/bad-luck-brian/__small.jpg" alt="Bad Luck Brian" />
		<h3><span>19th place</span> <a href="http://js13kgames.com/entries/bad-luck-brian">Bad Luck Brian</a> <span>by</span> remvst</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/pixel-copter/__small.jpg" alt="pixel-copter" />
		<h3><span>20th place</span> <a href="http://js13kgames.com/entries/pixel-copter">pixel-copter</a> <span>by</span> Gokhan Tank</h3>
	</article>
</section>
<section id="winners-mobile">
	<h2>Winners - mobile</h2>
	<article class="winner">
		<img src="http://js13kgames.com/games/junojs/__small.jpg" alt="JunoJS" />
		<h3><span>1st place</span> <a href="http://js13kgames.com/entries/junojs">JunoJS</a> <span>by</span> Robert Kotecki</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/traffic/__small.jpg" alt="Traffic" />
		<h3><span>2nd place</span> <a href="http://js13kgames.com/entries/traffic">Traffic</a> <span>by</span> Krisztián Tóth</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/bouncing-button/__small.jpg" alt="Bouncing Button" />
		<h3><span>3rd place</span> <a href="http://js13kgames.com/entries/bouncing-button">Bouncing Button</a> <span>by</span> Csaba Csecskedi</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/under-the-crypt/__small.jpg" alt="Under the Crypt" />
		<h3><span>4th place</span> <a href="http://js13kgames.com/entries/under-the-crypt">Under the Crypt</a> <span>by</span> Arne</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/lucky-streak/__small.jpg" alt="Lucky Streak" />
		<h3><span>5th place</span> <a href="http://js13kgames.com/entries/lucky-streak">Lucky Streak</a> <span>by</span> Mike Ferron</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/bad-luck-brian/__small.jpg" alt="Bad Luck Brian" />
		<h3><span>6th place</span> <a href="http://js13kgames.com/entries/bad-luck-brian">Bad Luck Brian</a> <span>by</span> remvst</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/the-unlucky-king/__small.jpg" alt="The Unlucky King" />
		<h3><span>7th place</span> <a href="http://js13kgames.com/entries/the-unlucky-king">The Unlucky King</a> <span>by</span> Iftah</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/tsvett/__small.jpg" alt="TSVETT" />
		<h3><span>8th place</span> <a href="http://js13kgames.com/entries/tsvett">TSVETT</a> <span>by</span> Liza Shulyayeva</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/geometriko/__small.jpg" alt="Geometriko" />
		<h3><span>9th place</span> <a href="http://js13kgames.com/entries/geometriko">Geometriko</a> <span>by</span> indies4indies</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/the-bad-luck-game/__small.jpg" alt="The Bad Luck Game" />
		<h3><span>10th place</span> <a href="http://js13kgames.com/entries/the-bad-luck-game">The Bad Luck Game</a> <span>by</span> The Making Waves Team</h3>
	</article>
</section>
<section id="winners-server">
	<h2>Winners - server</h2>
	<article class="winner">
		<img src="http://js13kgames.com/games/untitled13/__small.jpg" alt="untitled13" />
		<h3><span>1st place</span> <a href="http://js13kgames.com/entries/untitled13">untitled13</a> <span>by</span> Gheja</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/runrun-rabbit/__small.jpg" alt="RunRun Rabbit" />
		<h3><span>2nd place</span> <a href="http://js13kgames.com/entries/runrun-rabbit">RunRun Rabbit</a> <span>by</span> hgcummings</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/tanks/__small.jpg" alt="Tanks" />
		<h3><span>3rd place</span> <a href="http://js13kgames.com/entries/tanks">Tanks</a> <span>by</span> ArkahnX</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/pixel-quest/__small.jpg" alt="Pixel Quest" />
		<h3><span>4th place</span> <a href="http://js13kgames.com/entries/pixel-quest">Pixel Quest</a> <span>by</span> Sascha Depold</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/world-is-falling/__small.jpg" alt="World is Falling" />
		<h3><span>5th place</span> <a href="http://js13kgames.com/entries/world-is-falling">World is Falling</a> <span>by</span> Kushagra Gour</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/critter-defense/__small.jpg" alt="Critter Defense" />
		<h3><span>6th place</span> <a href="http://js13kgames.com/entries/critter-defense">Critter Defense</a> <span>by</span> olsn</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/senshi/__small.jpg" alt="戦士 - Senshi" />
		<h3><span>7th place</span> <a href="http://js13kgames.com/entries/senshi">戦士 - Senshi</a> <span>by</span> Zolmeister</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/outaluq/__small.jpg" alt="Outaluq" />
		<h3><span>8th place</span> <a href="http://js13kgames.com/entries/outaluq">Outaluq</a> <span>by</span> Cody</h3>
	</article>
	<article class="winner">
		<img src="http://js13kgames.com/games/stalinebingo/__small.jpg" alt="StalineBingo" />
		<h3><span>9th place</span> <a href="http://js13kgames.com/entries/stalinebingo">StalineBingo</a> <span>by</span> AdFab Connect</h3>
	</article>
</section>
<section id="winners-specials">
	<h2>Winners - specials</h2>
	<h4>Facebook Specials</h4>
	<article class="winner special facebookSpecial">
		<img src="http://js13kgames.com/games/nigos-cave/__small.jpg" alt="Nigo's Cave" />
		<h3><span>1st place</span> <a href="http://js13kgames.com/entries/nigos-cave">Nigo's Cave</a> <span>by</span> Felipe Alfonso - 448 <span>likes</span></h3>
	</article>
	<article class="winner special facebookSpecial">
		<img src="http://js13kgames.com/games/geometriko/__small.jpg" alt="Geometriko" />
		<h3><span>2nd place</span> <a href="http://js13kgames.com/entries/geometriko">Geometriko</a> <span>by</span> indies4indies - 301 <span>likes</span></h3>
	</article>
	<article class="winner special facebookSpecial">
		<img src="http://js13kgames.com/games/life-of-blobb/__small.jpg" alt="Life of Blobb" />
		<h3><span>3rd place</span> <a href="http://js13kgames.com/entries/life-of-blobb">Life of Blobb</a> <span>by</span> Alex Gyoshev - 99 <span>likes</span></h3>
	</article>
	<h4>Twitter Specials</h4>
	<article class="winner special twitterSpecial">
		<img src="http://js13kgames.com/games/radius-raid/__small.jpg" alt="Radius Raid" />
		<h3><span>1st place</span> <a href="http://js13kgames.com/entries/radius-raid">Radius Raid</a> <span>by</span> Jack Rugile - 66 <span>tweets</span></h3>
	</article>
	<article class="winner special twitterSpecial">
		<img src="http://js13kgames.com/games/geometriko/__small.jpg" alt="Geometriko" />
		<h3><span>2nd place</span> <a href="http://js13kgames.com/entries/geometriko">Geometriko</a> <span>by</span> indies4indies - 56 <span>tweets</span></h3>
	</article>
	<article class="winner special twitterSpecial">
		<img src="http://js13kgames.com/games/sciara-of-colors/__small.jpg" alt="Sciara of Colors" />
		<h3><span>3rd place</span> <a href="http://js13kgames.com/entries/sciara-of-colors">Sciara of Colors</a> <span>by</span> Gabriele D'Arrigo - 24 <span>tweets</span></h3>
	</article>
	<h4>Google+ Specials</h4>
	<article class="winner special googleSpecial">
		<img src="http://js13kgames.com/games/geometriko/__small.jpg" alt="Geometriko" />
		<h3><span>1st place</span> <a href="http://js13kgames.com/entries/geometriko">Geometriko</a> <span>by</span> indies4indies - 59 <span>+1's</span></h3>
	</article>
	<article class="winner special googleSpecial">
		<img src="http://js13kgames.com/games/just-your-luck-casino/__small.jpg" alt="Just Your Luck Casino" />
		<h3><span>2nd place</span> <a href="http://js13kgames.com/entries/just-your-luck-casino">Just Your Luck Casino</a> <span>by</span> John Godsey - 41 <span>+1's</span></h3>
	</article>
	<article class="winner special googleSpecial">
		<img src="http://js13kgames.com/games/life-of-blobb/__small.jpg" alt="Life of Blobb" />
		<h3><span>3rd place</span> <a href="http://js13kgames.com/entries/life-of-blobb">Life of Blobb</a> <span>by</span> Alex Gyoshev - 22 <span>+1's</span></h3>
	</article>
</section>
</section>

<section id="judges">
	<h2>Judges</h2>
	<article class="judge" id="andrzej">
		<img src="/img/judges/andrzej_mazur.png" alt="Andrzej Mazur" />
		<div>
			<h3>Andrzej Mazur</h3>
			<p>Mobile HTML5 games developer, <a target="_blank" href="http://dev.end3r.com/">blogger</a>, speaker, founder of the Indie Game Development studio <a target="_blank" href="http://enclavegames.com/">Enclave Games</a> (authors of the <a target="_blank" href="http://enclavegames.comhttp://js13kgames.com/games/captain-rogers/">Captain Rogers</a> game and <a target="_blank" href="http://html5devstarter.enclavegames.com/">HTML5 Gamedev Starter</a> list), creator of the <strong>js13kGames</strong> competition and <a target="_blank" href="http://gamedevjs.com/">Gamedev.js</a> Meetups organizer.</p>
			<p class="judgeContact"><a target="_blank" href="https://twitter.com/end3r">@end3r</a> | <a target="_blank" href="http://dev.end3r.com/">dev.end3r.com</a></p>
		</div>
	</article>
	<article class="judge right" id="richard">
		<img src="/img/judges/richard_davey.png" alt="Richard Davey" />
		<div>
			<h3>Richard Davey</h3>
			<p>Director of the HTML5 Game Development company <a target="_blank" href="http://www.photonstorm.com/">Photon Storm</a>, who have released just over 50 HTML5 games (and counting!). Developers of the <a target="_blank" href="http://www.photonstorm.com/phaser/">Phaser</a> game framework, retro game addicts, old skool demosceners and admins of the <a target="_blank" href="http://www.html5gamedevs.com/">HTML5 Game Developers Forum</a>.</p>
			<p class="judgeContact"><a target="_blank" href="https://twitter.com/photonstorm">@photonstorm</a> | <a target="_blank" href="http://photonstorm.com/">photonstorm.com</a></p>
		</div>
	</article>
	<article class="judge" id="louis">
		<img src="/img/judges/louis_stowasser.png" alt="Louis Stowasser" />
		<div>
			<h3>Louis Stowasser</h3>
			<p>Partner Engineer at <a target="_blank" href="https://www.mozilla.org/">Mozilla</a>. Creator of <a target="_blank" href="http://craftyjs.com/">CraftyJS</a>, the open-source HTML5 game engine. Maintainer of <a target="_blank" href="http://gamedevweekly.com/">Gamedev Weekly</a>, a newsletter for everything gamedev.</p>
			<p class="judgeContact"><a target="_blank" href="https://twitter.com/louisstow">@louisstow</a> | <a target="_blank" href="http://louisstowasser.com/">louisstowasser.com</a></p>
		</div>
	</article>
	<article class="judge right" id="christer">
		<img src="/img/judges/christer_kaitila.png" alt="Christer Kaitila" />
		<div>
			<h3>Christer Kaitila</h3>
			<p>Organizer of <a target="_blank" href="http://www.onegameamonth.com/">One Game A Month</a> and the <a target="_blank" href="http://www.charitygamejam.com/">Charity Game Jam</a>, editor at <a target="_blank" href="http://gamedev.tutsplus.com/">Gamedevtuts+</a>, and creator of <a target="_blank" href="http://mcfunkypants.com/">30 games</a>, <a target="_blank" href="http://soundcloud.com/McFunkypants">20 songs</a>, <a target="_blank" href="http://www.amazon.com/s/ref=ntt_athr_dp_sr_1?_encoding=UTF8&amp;field-author=Christer%20Kaitila&amp;search-alias=digital-text&amp;sort=relevancerank">2 books</a>, and an HTML5 <a target="_blank" href="https://github.com/Mcfunkypants/Ludus">platformer game starter kit</a>, McFunkypants is an optimist disco viking and child of the arcade era. He has been an indie gamedev for over a decade.</p>
			<p class="judgeContact"><a target="_blank" href="https://twitter.com/mcfunkypants">@mcfunkypants</a> | <a target="_blank" href="http://mcfunkypants.com/">mcfunkypants.com</a></p>
		</div>
	</article>
	<article class="judge" id="elle">
		<img src="/img/judges/elle_chen.png" alt="Elle Chen" />
		<div>
			<h3>Elle Chen</h3>
			<p>Elle Chen is the License Manager of <a target="_blank" href="http://www.boostermedia.com/">BoosterMedia Network B.V.</a>, the leading HTML5 game publisher. She has licensed hundreds of HTML5 games and also the initiator of <a target="_blank" href="http://www.doctorhtml5games.com/">DoctorHTML5games.com</a> blog.</p>
			<p class="judgeContact"><a target="_blank" href="https://twitter.com/elleycchen">@elleycchen</a> | <a target="_blank" href="http://linkedin.com/in/cutedogpie">linkedin.com/in/cutedogpie</a></p>
		</div>
	</article>
	<article class="judge right" id="jesse">
		<img src="/img/judges/jesse_freeman.png" alt="Jesse Freeman" />
		<div>
			<h3>Jesse Freeman</h3>
			<p>Jesse Freeman is a Technology Evangelist at <a target="_blank" href="http://www.microsoft.com/">Microsoft</a> focusing on Windows 8 gaming. Before joining Microsoft, Jesse was a consultant building large scale web and mobile apps for some of New York most prestigious companies such as HBO, MLB, the New York Jets and more. In his spare time he is an Indie game developer and artist.</p>
			<p class="judgeContact"><a target="_blank" href="https://twitter.com/jessefreeman">@jessefreeman</a> | <a target="_blank" href="http://jessefreeman.com">jessefreeman.com</a></p>
		</div>
	</article>
	<a class="up" href="/"></a>
</section>

<section id="prizes">
<h2>Prizes</h2>
<article class="prize" id="impactjs">
	<img src="/img/prizes/impactjs.png" alt="ImpactJS" />
	<div>
		<h3>5 &times; ImpactJS game engine</h3>
		<p>Five licenses for <a href="http://impactjs.com/">ImpactJS</a> game engine created by <a href="http://www.phoboslab.org/">Dominic Szablewski</a>.</p>
	</div>
</article>
<article class="prize specialPrize" id="ogs13">
	<img src="/img/prizes/ongamestart.png" alt="onGameStart tickets" />
	<div>
		<h3>onGameStart tickets 35% cheaper</h3>
		<p>Everyone can get <a href="http://ongamestart.com/">onGameStart conference</a> tickets for 35% less when using '<strong>js13kgames</strong>' promo code. <a href="http://www.amiando.com/KMZNKJK.html">Get them</a> while they last!</p>
	</div>
</article>
<article class="prize" id="construct2">
	<img src="/img/prizes/construct2.png" alt="Construct 2" />
	<div>
		<h3>5 &times; Construct 2 game engine</h3>
		<p>Two business and three personal licenses for <a href="https://www.scirra.com/construct2">Construct 2</a> game engine created by <a href="https://www.scirra.com/">Scirra</a>.</p>
	</div>
</article>
<article class="prize" id="pusher">
	<img src="/img/prizes/pusher.png" alt="Pusher" />
	<div>
		<h3>3 &times; Pusher plans</h3>
		<p>Three different <a href="http://pusher.com/">Pusher</a> plans: 6 months Startup, 6 months Bootstrap and 3 months Bootstrap.</p>
	</div>
</article>
<article class="prize" id="kendoui">
	<img src="/img/prizes/kendoui.png" alt="Kendo UI Complete" />
	<div>
		<h3>3 &times; Kendo UI Complete</h3>
		<p>Three licenses for <a href="http://www.kendoui.com/">Kendo UI Complete</a>, with 1 year of upgrades and commercial support.</p>
	</div>
</article>
<article class="prize" id="jetbrains">
	<img src="/img/prizes/jetbrains.png" alt="JetBrains" />
	<div>
		<h3>6 &times; JetBrains product license</h3>
		<p>Six licenses for one of the many various <a href="http://www.jetbrains.com/">JetBrains</a> professional development tools.</p>
	</div>
</article>
<article class="prize" id="modulus">
	<img src="/img/prizes/modulus.png" alt="Modulus" />
	<div>
		<h3>5 &times; Modulus $100 credit</h3>
		<p>Five promo codes worth $100 each for <a href="https://modulus.io/">Modulus</a> services.</p>
	</div>
</article>
<article class="prize" id="clayio">
	<img src="/img/prizes/clayio.png" alt="Clay.io" />
	<div>
		<h3>Advertisement on Clay.io</h3>
		<p>Advertising of the three winning entries (one from every category) on the <a href="http://clay.io/">Clay.io</a> marketplace and one chosen entry on their homepage.</p>
	</div>
</article>
<article class="prize" id="moneywithhtml5">
	<img src="/img/prizes/moneywithhtml5.png" alt="Making money with HTML5" />
	<div>
		<h3>9 &times; Making money with HTML5 ebook</h3>
		<p>Top 3 entries from every category will win a copy of this <a href="http://www.truevalhalla.com/blog/ebook/">ebook</a> by <a href="http://www.truevalhalla.com/">Matthew Bowden</a>.</p>
	</div>
</article>
<article class="prize" id="zeroappstore">
	<img src="/img/prizes/zeroappstore.png" alt="From zero to the appstore" />
	<div>
		<h3>From Zero to the Appstore ebook</h3>
		<p>Unlimited <a href="http://indiegamr.com/zerotoappstore/">ebooks</a> by <a href="http://indiegamr.com/">Olaf Horstmann</a> for <strong>every participant</strong> and 30 packages with resources and assets worth $59 each.</p>
	</div>
</article>
<article class="prize" id="playcanvas">
	<img src="/img/prizes/playcanvas.png" alt="PlayCanvas" />
	<div>
		<h3>10 &times; PlayCanvas Pro account</h3>
		<p>Ten 12-month <a href="http://playcanvas.com/">PlayCanvas</a> Pro accounts offering cloud-hosted game development and publishing tools.</p>
	</div>
</article>
<article class="prize" id="isogenic">
	<img src="/img/prizes/isogenic.png" alt="Isogenic Engine" />
	<div>
		<h3>8 &times; Isogenic Engine premium license</h3>
		<p>Eight premium licenses for <a href="http://www.isogenicengine.com/">Isogenic Game Engine</a> created by <a href="http://irrelon.com/">Irrelon Software</a>.</p>
	</div>
</article>
<article class="prize" id="html5gamedevs">
	<img src="/img/prizes/html5gamedevs.png" alt="HTML5 Game Devs forums" />
	<div>
		<h3>$100 USD Amazon gift voucher</h3>
		<p>$100 worth <a href="http://www.amazon.com/">Amazon</a> voucher card sponsored by the <a href="http://www.html5gamedevs.com/">HTML5 Game Devs forum</a>.</p>
	</div>
</article>
<article class="prize" id="thefew">
	<img src="/img/prizes/thefew.png" alt="The Few" />
	<div>
		<h3>The Few game and 3 T-shirts</h3>
		<p>Unlimited copies of <a href="https://www.facebook.com/thefewgame">The Few</a> game by <a href="http://blackmoondev.com/">Blackmoon Design</a> for <strong>every participant</strong> and the t-shirts for the winners of every category.</p>
	</div>
</article>
<article class="prize" id="mcpixel">
	<img src="/img/prizes/mcpixel.png" alt="McPixel" />
	<div>
		<h3>McPixel game</h3>
		<p>Unlimited copies of the <a href="http://mcpixel.net/">McPixel</a> game by <a href="http://sos.gd/">Sos Sosowski</a> for <strong>every participant</strong> of the competition.</p>
	</div>
</article>
<article class="prize" id="qbqbqb">
	<img src="/img/prizes/qbqbqb.png" alt="QbQbQb" />
	<div>
		<h3>QbQbQb game</h3>
		<p>Unlimited copies of the <a href="http://qbqbqb.rezoner.net/">QbQbQb</a> game by <a href="http://rezoner.net/">Rezoner Sikorski</a> for <strong>every participant</strong> of the competition.</p>
	</div>
</article>
<article class="prize" id="jessereview">
	<img src="/img/prizes/jesse.png" alt="Jesse Freeman online review" />
	<div>
		<h3>Online review time with Jesse Freeman</h3>
		<p>One hour of one-on-one online review time with <a href="http://jessefreeman.com/">Jesse Freeman</a> for any of the top4 winners about helping them monetize and publish their games.</p>
	</div>
</article>
<article class="prize" id="boostermedia">
	<img src="/img/prizes/boostermedia.png" alt="BoosterMedia" />
	<div>
		<h3>Advertisement on BoosterMedia</h3>
		<p><a href="http://www.boostermedia.com/">BoosterMedia</a> will license the winning game from the Mobile category and provide the exclusive promotion on featured game position.</p>
	</div>
</article>
<article class="prize" id="marketjs">
	<img src="/img/prizes/marketjs.png" alt="MarketJS" />
	<div>
		<h3>Advertisement on MarketJS</h3>
		<p>One month advertising of the winning games from every category on the <a href="http://marketjs.com/">MarketJS</a> website.</p>
	</div>
</article>
<article class="prize" id="nihilogic">
	<img src="/img/prizes/nihilogic-html5games.png" alt="HTML5 Games" />
	<div>
		<h3>3 &times; HTML5 Games: Creating Fun with HTML5, CSS3 and WebGL</h3>
		<p>Three <a href="http://www.wiley.com/buy/9781119975083">books</a> by <a href="http://nihilogic.dk/">Jacob Seidelin</a> published by <a href="http://wiley.com/">Wiley</a>.</p>
	</div>
</article>
<article class="prize" id="nodejitsu">
	<img src="/img/prizes/nodejitsu2.png" alt="Nodejitsu account" />
	<div>
		<h3>5 &times; Nodejitsu Micro plan</h3>
		<p>Five 1-Year Individual Micro plans (worth $108 each) from <a href="http://nodejitsu.com/">Nodejitsu</a>.</p>
	</div>
</article>
<article class="prize" id="isometricebook">
	<img src="/img/prizes/isometric-games.png" alt="Isometric Games" />
	<div>
		<h3>30 &times; Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript ebook</h3>
		<p>Thirty <a href="http://shop.oreilly.com/product/0636920020011.do">ebooks</a> by <a href="http://www.andrespagella.com/">Andrés Pagella</a> published by <a href="http://oreilly.com/">O'Reilly Media</a>.</p>
	</div>
</article>
<article class="prize" id="jsbin">
	<img src="/img/prizes/jsbin.png" alt="JS Bin" />
	<div>
		<h3>3 &times; JS Bin pro account</h3>
		<p>Three <a href="http://jsbin.com/">JS Bin</a> pro accounts from <a href="http://remysharp.com/">Remy&nbsp;Sharp</a> - for free, <strong>for life</strong>.</p>
	</div>
</article>
<article class="prize" id="learnprog">
	<img src="/img/prizes/learning-programming.png" alt="Learning HTML5 Game Programming" />
	<div>
		<h3>5 &times; Learning HTML5 Game Programming</h3>
		<p>Five printed <a href="http://www.amazon.com/Learning-HTML5-Game-Programming-Hands/dp/0321767365">books</a> by <a href="http://jameswilliams.be/">James L. Williams</a> published by <a href="http://www.informit.com/">Addison-Wesley Professional</a>.</p>
	</div>
</article>
<article class="prize" id="github">
	<img src="/img/prizes/github.png" alt="GitHub" />
	<div>
		<h3>30 &times; GitHub 6 month medium account</h3>
		<p>Thirty paid <a href="https://github.com/">GitHub</a> plans - medium accounts for six months.</p>
	</div>
</article>
<article class="prize" id="cykod">
	<img src="/img/prizes/cykod.png" alt="Professional HTML5 Mobile Game Development" />
	<div>
		<h3>5 &times; Professional HTML5 Mobile Game Development book</h3>
		<p>Five printed copies of the <a href="http://www.amazon.com/gp/product/B0094P2TU6/">book</a> by <a href="http://www.html5gamedevelopment.com/">Pascal&nbsp;Rettig</a> published by <a href="http://wiley.com/">Wiley</a>.</p>
	</div>
</article>
<article class="prize" id="cookbook">
	<img src="/img/prizes/cookbook.png" alt="The Web Game Developer's Cookbook" />
	<div>
		<h3>10 &times; The Web Game Developer's Cookbook</h3>
		<p>Ten bundles of <a href="http://www.informit.com/store/web-game-developers-cookbook-using-javascript-and-html5-9780321898388">printed book with ebook</a> by <a href="http://evanburchard.com">Evan Burchard</a> published by <a href="http://www.informit.com/">Addison-Wesley Professional</a>.</p>
	</div>
</article>
<article class="prize" id="impactjsbook">
	<img src="/img/prizes/impactjsbook.png" alt="Building HTML5 Games with ImpactJS" />
	<div>
		<h3>5 &times; Building HTML5 Games with ImpactJS book</h3>
		<p>Five printed <a href="http://www.amazon.com/Introducing-HTML5-Development-Jesse-Freeman/dp/1449315178">books</a> by <a href="http://jessefreeman.com/">Jesse Freeman</a>.</p>
	</div>
</article>
<article class="prize" id="win8games">
	<img src="/img/prizes/win8games.png" alt="Releasing HTML5 Games for Windows 8" />
	<div>
		<h3>5 &times; Releasing HTML5 Games for Windows 8 ebook</h3>
		<p>Five digital <a href="http://shop.oreilly.com/product/0636920028833.do">advanced review copies</a> by <a href="http://jessefreeman.com/">Jesse Freeman</a>.</p>
	</div>
</article>
<article class="prize" id="html5video">
	<img src="/img/prizes/html5video.png" alt="HTML5 Animation and Transition" />
	<div>
		<h3>10 &times; HTML5 Animation and Transition video</h3>
		<p>Ten <a href="http://www.packtpub.com/html5-animation-and-transition/video">videos</a> run by <a href="http://www.andrespagella.com/">Andrés Pagella</a> published by <a href="http://www.packtpub.com/">Packt Publishing</a>.</p>
	</div>
</article>
<article class="prize" id="gmstudio">
	<img src="/img/prizes/gmstudio.png" alt="GameMaker: Studio" />
	<div>
		<h3>GameMaker: Studio professional + HTML5 Module</h3>
		<p>One license for <a href="http://yoyogames.com/gamemaker/studio/professional">GameMaker: Studio professional</a> with HTML5 Module from <a href="http://yoyogames.com">YoYo Games</a>.</p>
	</div>
</article>
<article class="prize" id="html5inaction">
	<img src="/img/prizes/html5inaction.png" alt="HTML5 in Action" />
	<div>
		<h3>5 &times; HTML5 in Action book</h3>
		<p>Five printed <a href="http://www.manning.com/crowther2/">books</a> by <a href="http://twitter.com/robertc">Rob Crowther</a> published by <a href="http://www.manning.com/">Manning Publications</a>.</p>
	</div>
</article>
<article class="prize" id="jsninja">
	<img src="/img/prizes/jsninja.png" alt="Secrets of the JavaScript Ninja" />
	<div>
		<h3>5 &times; Secrets of the JavaScript Ninja book</h3>
		<p>Five printed <a href="http://www.manning.com/resig/">books</a> by <a href="http://ejohn.org/">John Resig</a> published by <a href="http://www.manning.com/">Manning Publications</a>.</p>
	</div>
</article>
<article class="prize" id="hellohtml5">
	<img src="/img/prizes/hellohtml5.png" alt="Hello! HTML5 and CSS3" />
	<div>
		<h3>5 &times; Hello! HTML5 and CSS3 book</h3>
		<p>Five printed <a href="http://www.manning.com/crowther/">books</a> by <a href="http://twitter.com/robertc">Rob Crowther</a> published by <a href="http://www.manning.com/">Manning Publications</a>.</p>
	</div>
</article>
<article class="prize" id="mapping">
	<img src="/img/prizes/mapping.png" alt="Developing Mobile Mapping Applications" />
	<div>
		<h3>Developing Mobile Mapping Applications ebook</h3>
		<p>Unlimited <a href="http://www.manning.com/free/excerpt_mobilemini.html">ebooks</a> for every participant of the competition.</p>
	</div>
</article>
<a class="up" href="/"></a>
</section>
<section id="categories" style="text-align: center;">
	<h2>Categories</h2>
	<p>There will be <strong>three different categories</strong> with <strong>top 10 games</strong> in every category.<br />You can submit your game to one, two or all three categories - it's up to you.</p>
	<p>There will be a <strong>Twitter</strong>, <strong>Facebook</strong> and <strong>Google+ Specials</strong> just like a year ago.</p>
	<article class="prize">
		<img src="/img/category-desktop.png" style="width: 150px; height: 150px;" alt="Prize" />
		<div>
			<h3>Desktop</h3>
			<p>Full power of the hardware.</p>
		</div>
	</article>
	<article class="prize">
		<img src="/img/category-mobile.png" style="width: 150px; height: 150px;" alt="Prize" />
		<div>
			<h3>Mobile</h3>
			<p>Mobile touch devices.</p>
		</div>
	</article>
	<article class="prize">
		<img src="/img/category-server.png" style="width: 150px; height: 150px;" alt="Prize" />
		<div>
			<h3>Server</h3>
			<p>Node.js multiplayer.</p>
		</div>
	</article>
</section>

<section id="places">
<h2>Places</h2>
<section id="places-mobile">
<h4>Mobile category</h4>
<article class="place">
	<h3>1st place mobile</h3>
	<ul>
		<li><strong>Advertisement</strong> of the game on BoosterMedia, Clay.io and MarketJS</li>
		<li><strong>Software licenses</strong>:
			<ul>
				<li>ImpactJS game engine</li>
				<li>JetBrains product license</li>
			</ul>
		</li>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
				<li>Kendo UI Complete for 1 year</li>
				<li>PlayCanvas Pro account for 1 year</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[printed] HTML5 Games: Creating Fun with HTML5, CSS3 and WebGL</li>
				<li>[printed] Professional HTML5 Mobile Game Development book</li>
				<li>[printed] Building HTML5 Games with ImpactJS</li>
				<li>[printed+ebook] The Web Game Developer's Cookbook</li>
				<li>[ebook] Making money with HTML5</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
				<li>[ebook] Releasing HTML5 Games for Windows 8</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>The Few T-shirt</li>
				<li>Online review time with Jesse Freeman</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>2nd place mobile</h3>
	<ul>
		<li><strong>Software licenses</strong>:
			<ul>
				<li>ImpactJS game engine</li>
				<li>JetBrains product license</li>
			</ul>
		</li>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
				<li>PlayCanvas Pro account for 1 year</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[printed] Professional HTML5 Mobile Game Development book</li>
				<li>[printed] Building HTML5 Games with ImpactJS</li>
				<li>[printed+ebook] The Web Game Developer's Cookbook</li>
				<li>[ebook] Making money with HTML5</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
				<li>[ebook] Releasing HTML5 Games for Windows 8</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>Online review time with Jesse Freeman</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>3rd place mobile</h3>
	<ul>
		<li><strong>Software licenses</strong>:
			<ul>
				<li>ImpactJS game engine</li>
			</ul>
		</li>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
				<li>PlayCanvas Pro account for 1 year</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[printed] Professional HTML5 Mobile Game Development book</li>
				<li>[printed] Building HTML5 Games with ImpactJS</li>
				<li>[printed+ebook] The Web Game Developer's Cookbook</li>
				<li>[ebook] Making money with HTML5</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
				<li>[ebook] Releasing HTML5 Games for Windows 8</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>Online review time with Jesse Freeman</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>4th place mobile</h3>
	<ul>
		<li><strong>Software licenses</strong>:
			<ul>
				<li>ImpactJS game engine</li>
			</ul>
		</li>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[printed] Professional HTML5 Mobile Game Development book</li>
				<li>[printed] Building HTML5 Games with ImpactJS</li>
				<li>[printed+ebook] The Web Game Developer's Cookbook</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
				<li>[ebook] Releasing HTML5 Games for Windows 8</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>Online review time with Jesse Freeman</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>5th place mobile</h3>
	<ul>
		<li><strong>Software licenses</strong>:
			<ul>
				<li>ImpactJS game engine</li>
			</ul>
		</li>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[printed] Professional HTML5 Mobile Game Development book</li>
				<li>[printed] Building HTML5 Games with ImpactJS</li>
				<li>[printed+ebook] The Web Game Developer's Cookbook</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
				<li>[ebook] Releasing HTML5 Games for Windows 8</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>6th-10th places mobile</h3>
	<ul>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[printed] HTML5 in Action</li>
				<li>[printed] Learning HTML5 Game Programming</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
</section>
<section id="places-desktop">
<h4>Desktop category</h4>
<article class="place">
	<h3>1st place desktop</h3>
	<ul>
		<li><strong>Advertisement</strong> of the game on Clay.io and MarketJS</li>
		<li><strong>Software licenses</strong>:
			<ul>
				<li>JetBrains product license</li>
				<li>Construct 2 game engine</li>
				<li>Isogenic Engine premium license</li>
			</ul>
		</li>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
				<li>Kendo UI Complete for 1 year</li>
				<li>PlayCanvas Pro account for 1 year</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[printed] HTML5 Games: Creating Fun with HTML5, CSS3 and WebGL</li>
				<li>[printed+ebook] The Web Game Developer's Cookbook</li>
				<li>[ebook] Making money with HTML5</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>The Few T-shirt</li>
				<li>Online review time with Jesse Freeman</li>
				<li>HTML5 Animation and Transition video</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>2nd place desktop</h3>
	<ul>
		<li><strong>Software licenses</strong>:
			<ul>
				<li>JetBrains product license</li>
				<li>Construct 2 game engine</li>
				<li>Isogenic Engine premium license</li>
			</ul>
		</li>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
				<li>PlayCanvas Pro account for 1 year</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[ebook] Making money with HTML5</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>Online review time with Jesse Freeman</li>
				<li>HTML5 Animation and Transition video</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>3rd place desktop</h3>
	<ul>
		<li><strong>Software licenses</strong>:
			<ul>
				<li>Construct 2 game engine</li>
				<li>Isogenic Engine premium license</li>
			</ul>
		</li>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
				<li>PlayCanvas Pro account for 1 year</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[ebook] Making money with HTML5</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>Online review time with Jesse Freeman</li>
				<li>HTML5 Animation and Transition video</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>4th place desktop</h3>
	<ul>
		<li><strong>Software licenses</strong>:
			<ul>
				<li>Construct 2 game engine</li>
				<li>Isogenic Engine premium license</li>
			</ul>
		</li>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>Online review time with Jesse Freeman</li>
				<li>HTML5 Animation and Transition video</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>5th place desktop</h3>
	<ul>
		<li><strong>Software licenses</strong>:
			<ul>
				<li>Construct 2 game engine</li>
				<li>Isogenic Engine premium license</li>
			</ul>
		</li>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>HTML5 Animation and Transition video</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>6th-10th places desktop</h3>
	<ul>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[book] Secrets of the JavaScript Ninja</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>HTML5 Animation and Transition video</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
</section>
<section id="places-server">
<h4>Server category</h4>
<article class="place">
	<h3>1st place server</h3>
	<ul>
		<li><strong>Advertisement</strong> of the game on Clay.io and MarketJS</li>
		<li><strong>Software licenses</strong>:
			<ul>
				<li>JetBrains product license</li>
			</ul>
		</li>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
				<li>Kendo UI Complete for 1 year</li>
				<li>PlayCanvas Pro account for 1 year</li>
				<li>Modulus $100 credit</li>
				<li>Pusher Startup plan for 6 months</li>
				<li>Nodejitsu Micro plan for 1 year</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[printed] HTML5 Games: Creating Fun with HTML5, CSS3 and WebGL</li>
				<li>[printed+ebook] The Web Game Developer's Cookbook</li>
				<li>[ebook] Making money with HTML5</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>The Few T-shirt</li>
				<li>Online review time with Jesse Freeman</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>2nd place server</h3>
	<ul>
		<li><strong>Software licenses</strong>:
			<ul>
				<li>JetBrains product license</li>
			</ul>
		</li>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
				<li>PlayCanvas Pro account for 1 year</li>
				<li>Modulus $100 credit</li>
				<li>Pusher Startup plan for 6 months</li>
				<li>Nodejitsu Micro plan for 1 year</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[ebook] Making money with HTML5</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>Online review time with Jesse Freeman</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>3rd place server</h3>
	<ul>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
				<li>PlayCanvas Pro account for 1 year</li>
				<li>Modulus $100 credit</li>
				<li>Pusher Startup plan for 6 months</li>
				<li>Nodejitsu Micro plan for 1 year</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[ebook] Making money with HTML5</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>Online review time with Jesse Freeman</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>4th place server</h3>
	<ul>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
				<li>Modulus $100 credit</li>
				<li>Nodejitsu Micro plan for 1 year</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
			</ul>
		</li>
		<li><strong>Other</strong>:
			<ul>
				<li>Online review time with Jesse Freeman</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>5th place server</h3>
	<ul>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
				<li>Modulus $100 credit</li>
				<li>Nodejitsu Micro plan for 1 year</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
<article class="place">
	<h3>6th-10th places server</h3>
	<ul>
		<li><strong>Accounts licenses</strong>:
			<ul>
				<li>GitHub 6 month medium account</li>
			</ul>
		</li>
		<li><strong>Books</strong>:
			<ul>
				<li>[printed] Hello! HTML5 and CSS3</li>
				<li>[ebook] Making Isometric Social Real-Time Games with HTML5, CSS3 and JavaScript</li>
			</ul>
		</li>
		<li><strong>For all</strong>:
			<ul>
				<li>The Few</li>
				<li>McPixel</li>
				<li>QbQbQb</li>
				<li>From Zero to the Appstore</li>
				<li>Mobile Mapping Application</li>
			</ul>
		</li>
	</ul>
</article>
</section>
<section id="places-special">
	<h4>Specials</h4>
	<article class="place">
		<h3>Twitter Specials <span>(for the highest number of tweets)</span></h3>
		<h5>1st place</h5>
		<ul>
			<li>JS Bin pro account for life</li>
			<li>$100 USD Amazon gift voucher</li>
		</ul>
		<h5>2nd place</h5>
		<ul>
			<li>Isogenic Engine premium license</li>
		</ul>
		<h5>3rd place</h5>
		<ul>
			<li>[printed+ebook] The Web Game Developer's Cookbook</li>
		</ul>
	</article>
	<article class="place">
		<h3>Facebook Specials <span>(for the highest number of likes)</span></h3>
		<h5>1st place</h5>
		<ul>
			<li>JS Bin pro account for life</li>
			<li>GameMaker: Studio professional + HTML5 Module</li>
		</ul>
		<h5>2nd place</h5>
		<ul>
			<li>Isogenic Engine premium license</li>
		</ul>
		<h5>3rd place</h5>
		<ul>
			<li>[printed+ebook] The Web Game Developer's Cookbook</li>
		</ul>
	</article>
	<article class="place">
		<h3>Google+ Specials <span>(for the highest number of +1's)</span></h3>
		<h5>1st place</h5>
		<ul>
			<li>JS Bin pro account for life</li>
			<li>PlayCanvas Pro account for 1 year</li>
		</ul>
		<h5>2nd place</h5>
		<ul>
			<li>Isogenic Engine premium license</li>
		</ul>
		<h5>3rd place</h5>
		<ul>
			<li>[printed+ebook] The Web Game Developer's Cookbook</li>
		</ul>
	</article>
	<article class="place" id="prizes-everybody">
		<h3>Prizes for every participant</h3>
		<ul>
			<li>The Few</li>
			<li>McPixel</li>
			<li>QbQbQb</li>
			<li>From Zero to the Appstore</li>
			<li>Mobile Mapping Application</li>
		</ul>
	</article>
</section>
</section>

<section id="rules">
	<h2>Rules</h2>
	<article class="rule">
		<h3>Package size below 13 kB</h3>
		<p>All your code and game assets should be smaller than or equal to 13 kilobytes (that's exactly 13,312 bytes, because of 13 x 1024) when zipped. Your package should contain index.html file and when unzipped should work in the browser.</p>
	</article>
	<article class="rule">
		<h3>Two sources - readable and compressed</h3>
		<p>The competition is focusing on the package size, but learning from others is also very important. Please provide two sources of your game - first one should be minified and zipped to fit in the 13 kB limit (sent via the form) and the second one should be in a readable form with descriptive variable names and comments (hosted on GitHub).</p>
	</article>
	<article class="rule">
		<h3>No external libraries or services</h3>
		<p>You can't use any libraries, images or data files hosted on server or services that provide any type of data (for example Google Fonts are not allowed). Your game should work offline (Desktop and Mobile categories, not applicable to Server) and all the game assets should fit in the package(s) size limit. If you manage to shrink your favorite library below 13 kilobytes including the code itself, then you can use whatever you want, just remember about the 13 kB limit.</p>
	</article>
	<article class="rule">
		<h3>Main theme - bad luck</h3>
		<p>The main theme of the competition is the concept of <strong>bad luck</strong>, but it's not mandatory, so your game could be about anything you want and will still have the chance to win. You can interpret bad luck any way you want.</p>
	</article>
	<article class="rule">
		<h3>Deadline - 13th September 2013</h3>
		<p>The competition starts at 13:00 CEST, 13th August 2013 and ends at 13:00 CEST, 13th September 2013. No submissions will be accepted after the end of the competition.</p>
	</article>
	<article class="rule">
		<h3>Server development</h3>
		<p>When participating in the Server category you have 13 kB for the server and 13 kB for the client, so it's a total of 26 kB. You can use <a href="http://socket.io/">Socket.io</a> to ease your development and help you with the online communication.</p>
	</article>
	<article class="rule">
		<h3>Licensing</h3>
		<p>You have to have the rights for every asset used in your game. Remember that the submitted games will be published and made available for everybody to see.</p>
	</article>
	<article class="rule">
		<h3>New content only</h3>
		<p>Do not submit any old games or demos - you have a whole month to work on something new and fresh, this should be more than enough.</p>
	</article>
	<article class="rule">
		<h3>Errors and browser support</h3>
		<p>Your game must work in at least one browser. The more supported browsers, the better - you can get more points for that. There should be no errors - you can lose some points if your game is showing any errors in the console. If we cannot play your game, it won't be accepted. You'll get extra points if your game supports any mobile devices.</p>
	</article>
	<article class="rule">
		<h3>Teams</h3>
		<p>It doesn't matter if you're working alone or with your friends, just remember that the number of prizes is fixed, so you'll have to share your trophies with your teammates.</p>
	</article>
	<article class="rule">
		<h3>Sending submissions</h3>
		<p>Use <a href="http://js13kgames.com/#submit">this form</a> to submit your game. Please remember that you have to provide two sources (see the Rule #2 for details) - a link to a public repository on <a href="http://github.com/">Github</a> and a zipped package. If you have a Node.js game you can deploy it on <a href="http://nodejitsu.com/">Nodejitsu</a> - read the walkthrough in <a href="http://blog.nodejitsu.com/js13kgames">this blog post</a>.</p>
	</article>
	<article class="rule">
		<h3>Accepting submissions</h3>
		<p>Submissions will be checked manually and published after positive verification. This may take up to a couple of days, so be patient if your game is not yet online. I claim the right to reject any submission without giving a reason, although I hope I don't have to. I also have the right to update the rules of the competition at any time.</p>
	</article>
	<article class="rule" id="faq">
		<h3>Frequently Asked Questions</h3>
		<dl>
			<dt>Why exactly 13 kB?</dt>
			<dd>Well... why not? :)</dd>
			<dt>What's in it for you? Are you getting paid?</dt>
			<dd>Nope, it's just my own idea and it's made for pure fun. I'd love to get a sponsorship though as I spent my own private money on the first edition to cover shipping of the prizes worldwide, making t-shirts etc.</dd>
			<dt>What does the "zipped" term exactly mean?</dt>
			<dd>Sent package should be zipped with your usual system archiver, the only allowed extension is .zip. Let's keep it simple - it's a competition for coders and this should be your main focus, the code itself. Thanks to the zipped archive you will easily send your game and we will easily check the file size.</dd>
			<dt>Can I use Node.js?</dt>
			<dd>Yes, as long as your code size is lower than or equal to the 13 kB limit for client side and the same for server side - 26 in total. The only allowed library is Socket.io, nothing else.</dd>
			<dt>Can I use Flash?</dt>
			<dd>No, you can code your game using only the open web technologies like JavaScript, HTML and CSS.</dd>
			<dt>Can I use CoffeeScript or TypeScript?</dt>
			<dd>Yes, you can use it, but you can't submit it. Only pure JavaScript code will be accepted, so remember to have your compiled code within the 13 kB limit.</dd>
			<dt>Can I use compression through the self-extracting PNGs?</dt>
			<dd>No, this technique is strictly prohibited. Only pure JavaScript minifying is allowed.</dd>
			<dt>More questions?</dt>
			<dd>Send them in <a href="#contact">via email or social media</a>, visit <a href="http://webchat.freenode.net/?channels=bbg">#bbg channel</a> on Freenode IRC or post them at the <a href="http://www.html5gamedevs.com/">HTML5GameDevs forums</a>.</dd>
		</dl>
	</article>
	<article class="rule" id="serverfaq">
		<h3>Server category FAQ</h3>
		<dl>
			<dt>How will the size of a server game be measured exactly? Should the server side + client side code together zipped into one file be 26kb?</dt>
			<dd>Since the Socket.io was chosen as sanctioned multiplayer lib, it should not be counted in the allotted 13kb. A submission should not contain the node_modules directory. Instead, it should have a valid package.json file, defining the dependencies. This way, we can unzip the server files, run "npm install", and be ready to go. Since the dependencies are in JSON format, it can easily be parsed to see if only allowed libraries are used. If node modules are used that aren't on the sanctioned libraries list, they must count for the 13kb, so the node_modules directory must be included, containing only those. Combining the server/client into a single zip file would make it possible to create a 20kb server with a 6kb client, which is not what we want. Participants have to submit separate zip files for client/server.</dd>
			<dt>Can we use a public STUN server for WebRTC? Will still implement the signal server in Node.js.</dt>
			<dd>Please remember that the WebRTC is still in the early stage. Google offers free STUN/TURN servers, and the technology would be nearly impossible to use without them (implementing your own STUN server will place an unfair burden on your server code size).</dd>
			<dt>The code for server side, to calculate that would I zip up everything but the node_modules folder containing Socket.io?</dt>
			<dd>See the first answer. The server zip package must be less than 13kb. Sanctioned dependencies (only Socket.io) can be installed using "npm install", which parses package.json.</dd>
			<dt>If I include the Socket.io library (client and server side), does it count against my 26k (13k*2)?</dt>
			<dd>The Socket.io library is itself larger than 26kb, so no. You can't count it as part of the 13kb submission.</dd>
			<dt>Is the client side Socket.js lib allowed as well or only the server side packge? Just found out that the server side Socket.io package ships the browser files as well. So it's ok to use that? So that we can load "/socket.io/socket.io.js"?</dt>
			<dd>The client side library for Socket.io is required to use it, as Socket.io implements its own protocol inside websocket (or fallback carrier). Alternatively, the "websocket" module does not require any client side library.</dd>
			<dt>Can I create my own REST APIs on the server to let the user save and load custom game data, as long as it's &lt;13kb? I just persist a JSON created by server.js on a file to preserve user data on crash/reboot. Does it go against rule 3?</dt>
			<dd>Creating your own REST APIs doesn't count as an external dependency, so it does not conflict with rule 3. However, all server-side code must be included in the 13kb server zip. The data itself does not count for the game size limit, as it is created at run-time (in the same way that procedural graphics can be generated and cached at runtime).</dd>
		</dl>
	</article>
	<a class="up" href="/"></a>
</section>

<section id="contact">
	<h2>Contact</h2>
	<p>If You have any questions or propositions please feel free to contact us via e-mail: <span>contact@js13kgames.com</span>.<br />The other options include visiting our profiles on <a href="http://twitter.com/js13kgames">Twitter</a> or <a href="http://facebook.com/js13kgames">Facebook</a> and sending us the private message.</p>
	<a class="up" href="/"></a>
</section>
</div>

<footer>
	<div>
		&copy; js13kGames 2012-2014.
		<p>Created and maintained by <a target="_blank" href="http://end3r.com/">Andrzej Mazur</a> from <a target="_blank" href="http://enclavegames.com/">Enclave Games</a>.</p>
	</div>
</footer>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-33368200-1']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

</body>
</html>