
<div class="row row-no-padding">
  <div class="col-md-12">
<h1 class="heading heading--level1">HTML5 and JavaScript Game Development Competition<span class="xs-hidden"> in just 13 kB</span></h1>
<h2>2016</h2>

</div>
</div>
