<div class="row row-no-padding">
    <h1 class="heading heading--level1 hidden-xs">HTML5 and JavaScript Game Development Competition in just 13 kB</h1>
</div>
 
{{> intro2016 }}

{{> sponsors }}

{{> judges2016 }}

{{> prizes }}

{{> categories }}

{{> rules }}

<script type="j"