<section id="judges">
	<h2>Judges</h2>
  
	<article class="judge row" id="andrzej">
		<div  class="col-xs-12 col-sm-2" >
			<img src="/img/judges/2016/andrzej_mazur.png" alt="Andrzej Mazur" />
		</div>
		<div class="col-xs-12 col-sm-10">
			<h3>Andrzej Mazur</h3>
			<p>HTML5 Game Developer, JavaScript Programmer and Technical Evangelist. <a href="http://enclavegames.com/">Enclave Games</a> indie studio founder, <a href="http://gamedevjsweekly.com/">Gamedev.js Weekly</a> newsletter publisher and <a href="http://js13kgames.com/">js13kGames</a> competition creator. Likes eating sushi and playing <a href="http://neuroshimahex.pl/">Neuroshima Hex</a>.</p>
			<p class="judgeContact"><a href="https://twitter.com/end3r">@end3r</a> | <a href="http://end3r.com/">end3r.com</a></p>
		</div>
	</article>
	<article class="judge row right" id="christer">
		<div  class="col-xs-12 col-sm-2 col-sm-push-10" >
			<img src="/img/judges/2016/christer_kaitila.png" alt="Christer Kaitila" />
		</div>
		<div class="col-xs-12 col-sm-10 col-sm-pull-2">
			<h3>Christer Kaitila</h3>
			<p>Creator of <a href="http://mcfunkypants.com/">40 games</a>, <a href="http://soundcloud.com/McFunkypants">75 songs</a>, <a href="http://www.amazon.com/s/ref=ntt_athr_dp_sr_1?_encoding=UTF8&amp;field-author=Christer%20Kaitila&amp;search-alias=digital-text&amp;sort=relevancerank">2 books</a>, and <a href="http://www.onegameamonth.com/">One Game A Month</a>.</p>
            <p class="judgeContact"><a href="https://twitter.com/mcfunkypants">@mcfunkypants</a> | <a href="http://mcfunkypants.com/">mcfunkypants.com</a></p>
		</div>
	</article>
	<article class="judge row" id="jupi">
				<div  class="col-xs-12 col-sm-2" >
		<img src="/img/judges/2016/jupiter_hadley.png" alt="Jupiter Hadley" />
			</div>
		<div class="col-xs-12 col-sm-10">
			<h3>Jupiter Hadley</h3>
			<p><a href="https://www.youtube.com/channel/UC6A61A0RUz94hbgreCMO3cw">YouTuber</a> &amp; writer of Indie Games, lover of Game Jams, Co-host of <a href="http://www.indiegamejams.com/">IndieGameJams.com</a>. Aiming to be the Queen of Indie Games. Also enjoys going outside from time to time and taking pictures.</p>
			<p class="judgeContact"><a href="https://twitter.com/Jupiter_Hadley">@Jupiter_Hadley</a> | <a href="http://www.jupiterhadley.com/">jupiterhadley.com</a></p>
		</div>
	</article>
	<article class="judge row right" id="pablo">
			<div  class="col-xs-12 col-sm-2 col-sm-push-10" >
				<img src="/img/judges/2016/pablo_farias.png" alt="Pablo Farías Navarro" />
			</div>
			<div class="col-xs-12 col-sm-10 col-sm-pull-2">
			<h3>Pablo Farías Navarro</h3>
			<p>Founder of <a href="https://zenva.com/">Zenva</a> and author of <a href="https://academy.zenva.com/?zva_src=js13k-bio">over 40 online courses</a> on game, web and mobile app development, including a Kickstarter-funded course on <a href="https://academy.zenva.com/product/the-complete-mobile-game-development-course-platinum-edition/?zva_src=js13k-bio">how to make 15 games with Phaser</a>. Trainer at the <a href="http://html5devconf.com/">HTML5 Developer Conference</a>, avid tutorial writer and massive HTML5 game dev nerd.</p>
            <p class="judgeContact"><a href="https://twitter.com/zenvatweets">@ZenvaTweets</a> | <a href="https://zenva.com">zenva.com</a></p>
		</div>

	</article>
	<article class="judge row" id="robert">
		<div  class="col-xs-12 col-sm-2" >
			<img src="/img/judges/2016/robert_podgorski.png" alt="Robert Podgórski" />
		</div>
		<div class="col-xs-12 col-sm-10">
			<h3>Robert Podgórski</h3>
			<p>Indie games creator. Maker of <a href="http://thefew.pl">The Few</a>, Captain Rogers Chronicles and some others. Addicted to ketchup.</p>
			<p class="judgeContact"><a href="https://twitter.com/blackmoondev">@blackmoondev</a> | <a href="http://blackmoondev.com/">blackmoondev.com</a></p>
		</div>
	</article>
	<article class="judge row right" id="jason">
		<div  class="col-xs-12 col-sm-2 col-sm-push-10" >
			<img src="/img/judges/2016/jason_weathersby.png" alt="Jason Weathersby" />
		</div>
		<div class="col-xs-12 col-sm-10 col-sm-pull-2">
			<h3>Jason Weathersby</h3>
			<p>Jason Weathersby currently manages the Developer Relations group at <a href="http://mozilla.org/">Mozilla</a>, evangelizing Firefox, Developer Tools, Research projects, HTML5 Gaming and all things for the Open Web. He is a proponent of HTML5, Open Web standards and Open Source and is a regular contributor to the Mozilla Hacks blog. Jason has over 25 years experience in the software development field, ranging from real time process control to business intelligence software.</p>
			<p class="judgeContact"><a href="https://twitter.com/JasonWeathersby">@JasonWeathersby</a> | <a href="http://hacks.mozilla.org/">hacks.mozilla.org</a></p>
		</div>
	</article>
	<article class="judge row" id="judge">
		<div  class="col-xs-12 col-sm-2" >
			<img src="/img/judges/judge.png" alt="Judge" />
		</div>
		<div class="col-xs-12 col-sm-10">
			<h3>Judge</h3>
			<p>Judge's description.</p>
			<p class="judgeContact"><a href="">@twitter</a> | <a href="">website</a></p>
		</div>
	</article>
	<article class="judge row right" id="judge">
		<div  class="col-xs-12 col-sm-2 col-sm-push-10" >
			<img src="/img/judges/judge.png" alt="Judge" />
		</div>
		<div class="col-xs-12 col-sm-10 col-sm-pull-2">
			<h3>Judge</h3>
			<p>Judge's description.</p>
			<p class="judgeContact"><a href="">@twitter</a> | <a href="">website</a></p>
		</div>
	</article>
	<a class="up" href="/"></a>
</section>
