<section id="sponsors" class="row section--center">
  <div class="col-xs-12">
    <h2>Sponsors</h2>
    <a class="partner" id="mozilla" href="https://games.mozilla.org/"><img style="padding-bottom: 8px;" src="/img/partners/2015/mozilla.png" alt="Mozilla"></a><br />
    <p>Share the love for HTML5 games and support the js13kGames competition!<br />See the <a href="#contact">Contact</a> section for more details on how to get in touch.</p>
    <a class="up" href="/"></a>
  </div> 
</section>
