
@font-face {
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
  src: local('Graduate'),
  	local('Graduate-Regular'),
  	url(/fonts/graduate.eot) format('embedded-opentype'),
  	url(/fonts/graduate.ttf) format('truetype'),
  	url(/fonts/graduate.woff) format('woff');
}

body {
	background: #efefef url(/img/bg_content.png) fixed repeat;
	font: normal 15px/22px Helvetica, Arial, sans-serif;
	color: #333; 
}

h1,
h2,
h3,
nav ul li a,
.form label,
.form input.submit,
.single-entry .launch,
.play h1 {
	font-family: "Graduate", "Times New Roman", Verdana;
	font-weight: normal;
}
 
a {
	text-decoration: none;
	color: #b12a34;
	outline: none;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}