
.countdown h3 {
	padding: 15px 0 15px 30px;
	font-size: 24px;
	margin-top: 0px;
}
.countdown h3#start {
	padding: 0px 0 65px 30px;
}

.countdown {
	background: #2d2d2d url(/img/bg_header.png) repeat;
	border-radius: 10px;
	color: #ddd;
}