.footer {
	background: #2d2d2d url(/img/bg_header.png) repeat;
	border-bottom: 5px solid #a52730;
  margin-top: 40px;
  padding: 50px;
}

.footer__text {
  text-align: center;
	margin: 0 auto;
	color: #e2e2e2;
	font-size: 12px;
}

.footer__link {
	color: #fff;
	font-weight: bold;
}


@include media(">tablet") {

  .footer__text {
    text-align: initial;
  }

  .footer__text--right {
    position: absolute;
    right: 0;
    padding:0;
  }
}

/*Sticky footer see http://ryanfait.com/resources/footer-stick-to-bottom-of-page/*/
.page_wrapper {
  min-height: 100%;
  margin: 0 auto -211px; /* the bottom margin is the negative value of the footer's height */
}
.footer_push {
  height: 211px; /* '.push' must be the same height as 'footer' */
}

@include media(">phone") {

  .page_wrapper {
    min-height: 100%;
    margin: 0 auto -170px; /* the bottom margin is the negative value of the footer's height */
  }
  .footer_push {
    height: 170px; /* '.push' must be the same height as 'footer' */
  }
}