.heading--level1 {
	font-size: 20px;
	color: $brand-dark;
	text-shadow: 0px 1px 0px #eb6e76;
	background: url(/img/ribbon_big_bg.png) repeat-x;
	height: 56px;
	margin: 0px auto;
	text-align: center;
	position: relative;
	border-top: 4px solid #fff;
  padding-top: 3px;
}

h2 {
	font-size: 32px;
	color: #acabab;
	text-align: center;
}

@include media(">phone") {

  h2{
      padding: 40px 0 35px;
  }

  .heading--level1{
    line-height: 45px;
    font-size: 25px;
  }

  .heading--level1:before {
    content: "";
    display: block;
    width: 47px;
    height: 65px;
    position: absolute;
    top: 0;
    left: -47px;
    background: url(/img/ribbon_big_left.png) no-repeat;
  }

  .heading--level1:after {
    content: "";
    display: block;
    width: 48px;
    height: 65px;
    position: absolute;
    top: 0;
    right: -48px;
    background: url(/img/ribbon_big_right.png) no-repeat;
  }



}

