.judge {
	position: relative;
	margin-bottom: 50px;
}

/*
.judge:before {
	content: "";
	display: block;
	height: 1px;
	background: #f2f2f2;
}
*/

.judge h3 {
	color: #303030;
	font-size: 24px;
	background: url(/img/circle.png) center left no-repeat;
	padding-left: 30px;
	margin-bottom: 15px;
	display: inline-block;
}

.judge img {
	border-radius: 150px;
	border: 7px solid #fff;
	box-shadow: 2px 2px 3px #ccc;
	position: absolute;
	top: -30px;
	left: -20px;
}

.right.judge{
  text-align: right;
}

.right.judge img {
	top: -30px;
	left: auto;
	right: -20px;
}
 
.judgeContact {
	padding-bottom: 0;
}
