

.newsletter {
	background: url(/img/bg-blue.png);
	text-align: center;
	border-radius: 10px; 
}

.newsletter__heading {
	font-family: 'Graduate';
	font-size: 26px;
	padding: 20px 0 0 0;
	margin: 0;
	color: #444;
}

.newsletter__headinglink {
	font-weight: normal;
	color: #444;
}
 
.newsletter__subheading {
	font-family: 'Graduate';
	font-size: 14px;
	padding: 0 0 10px;
	color: #444;
}
.newsletter__emailinput {
	font-size: 14px;
	display: inline-block;
	line-height: 20px;
	color: #999;
	font-style: italic;
	width: 270px;
	border: 1px solid #d6e2ea;
	padding: 6px 10px 5px;
	margin: 0 10px 0 30px;
	border-radius: 5px;
}
.newsletter__subscribebtn {
	display: inline-block;
	font-family: "Graduate";
	border: 1px solid #ffbc1d;
	cursor: pointer;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	text-align: center;
	box-shadow: inset 0 0 0 1px #ffdc1c;
	background: #ffdb1c;
	background: -moz-linear-gradient(top, #ffdb1c 0%, #ffbd1c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdb1c), color-stop(100%,#ffbd1c));
	background: -webkit-linear-gradient(top, #ffdb1c 0%,#ffbd1c 100%);
	background: -o-linear-gradient(top, #ffdb1c 0%,#ffbd1c 100%);
	background: -ms-linear-gradient(top, #ffdb1c 0%,#ffbd1c 100%);
	background: linear-gradient(to bottom, #ffdb1c 0%,#ffbd1c 100%);
	padding: 6px 15px;
	border-radius: 5px;
}

.newsletter__subscribebtn:hover {
	background: #ffbd1c;
	background: -moz-linear-gradient(top, #ffbd1c 0%, #ffdb1c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbd1c), color-stop(100%,#ffdb1c));
	background: -webkit-linear-gradient(top, #ffbd1c 0%,#ffdb1c 100%);
	background: -o-linear-gradient(top, #ffbd1c 0%,#ffdb1c 100%);
	background: -ms-linear-gradient(top, #ffbd1c 0%,#ffdb1c 100%);
	background: linear-gradient(to bottom, #ffbd1c 0%,#ffdb1c 100%);
}

.newsletter__hiddeninput {
	visibility: hidden;
	height: 0px;
}