#winners-desktop,
#winners-mobile,
#winners-server {
	counter-reset: rule;
}

.winner {
	margin-bottom: 10px;
	padding: 10px 20px 0;
	border-bottom: 1px dotted #F2F2FA;
	line-height: 80px;
}

.winner h3 {
	font-size: 20px;
}

.winner h3:before {
    counter-increment: rule;
    content: counter(rule);
    background: url(/img/trophy.png) no-repeat;
    display: inline-block;
    width: 100px;
    height: 80px;
    line-height: 44px;
    font-size: 28px;
    text-align: center;
    padding-right: 15px;
    margin-left: 10px;
	text-shadow: 0px 1px 0px #eb6e76;
	margin-bottom: 5px;
}

.winner.twitterSpecial {
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 20px;
}

.winner.twitterSpecial h3:before {
	content: "T";
}

.winner.facebookSpecial h3:before {
	content: "F";
}

.winner.googleSpecial h3:before {
	content: "G";
}

.winner.special h3 span:first-child {
	display: inline-block;
}

.winner h3 span {
	font-size: 16px;
}

.winner h3 span:first-child {
	display: inline-block;
}

.winner h3 a {
	display: inline-block;
	line-height: 20px;
}

.winner img {
	float: right;
	margin: 0 20px 0 0;
	width: 80px;
	height: 80px;
	border-radius: 10px;
	border: 5px solid #fff;
	box-shadow: 2px 2px 5px #ccc;
}


.winners h4 {
	color: #666;
	font-size: 24px;
	font-weight: normal;
	padding: 20px 0 15px;
	text-align: center;
}

.winner__runnerup {
	font-family: "Graduate","Times New Roman",Verdana;
	font-size: 20px;
	font-weight: normal;
	line-height: 50px;
	text-align: center;
	padding-bottom: 10px;
}

.winner__runnerup--small{
	font-size: 15px;
}
