<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>js13kGames - HTML5 and JavaScript Game Development Competition in just 13 kilobytes</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="NOODP,NOYDIR" />
  <meta name="robots" content="INDEX, FOLLOW">
  <meta name="application-name" content="js13kGames" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="/img/browsericons/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="/img/browsericons/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="/img/browsericons/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="/img/browsericons/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/img/browsericons/mstile-310x310.png" />
  <script type="application/ld+json">
      {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://js13kGames.com",
      "logo": "https://js13kGames.com/content/logo.png",
      "sameAs" : [
      "https://www.facebook.com/js13kGame",
      "https://plus.google.com/103577457059193030729",
      "https://twitter.com/js13kGames",
      "https://github.com/js13kGames"
      ]
      }
  </script>
  <meta name="author" content="end3r">
  <link rel="shortcut icon" href="/img/browsericons/favicon.png">
  <link rel="stylesheet" href="/css/responsive.css?v=x">
  <meta name="description" content="Js13kGames is a JavaScript coding competition for HTML5 game developers. The fun part of the compo is the file size limit set to 13 kilobytes." />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@js13kGames">
  <meta name="twitter:title" content="js13kGames - HTML5 and JavaScript Game Development Competition in just 13 kilobytes">
  <meta name="twitter:description" content="Js13kGames is a JavaScript coding competition for HTML5 game developers. The fun part of the compo is the file size limit set to 13 kilobytes.">
  <meta name="twitter:creator" content="@js13kGames">
  <meta name="twitter:image" content="http://js13kgames.com/img/avatar.png">
  <meta property="og:image" content="http://js13kgames.com/img/avatar.png"/>
  <meta property="og:url" content="http://js13kgames.com"/>
  <meta property="og:site_name" content="js13kGames" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="js13kGames - HTML5 and JavaScript Game Development Competition in just 13 kilobytes"/>
  <meta property="og:description" content="Js13kGames is a JavaScript coding competition for HTML5 game developers. The fun part of the compo is the file size limit set to 13 kilobytes."/>
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
</head>
<body>
<header class="page__header">
    <div class="container">
        <div class="row">
          <div class="col-xs-10 col-sm-11 col-md-4">
              <a class="header__logo" href="http://2016.js13kgames.com/">js13kGames</a>
          </div>
          <div class="hidden-md hidden-lg col-xs-2 col-sm-1">  
            <a id="nav-toggle" href="#"><span></span></a>
          </div>
           <nav id="menu" class="hidden-xs hidden-sm col-xs-12 col-md-8">
                <ul>
                  <li><a href="/#sponsors">Sponsors</a></li>
                  <li><a href="/#judges">Judges</a></li>
                  <li><a href="/#prizes">Prizes</a></li>
                  <li><a href="/#rules">Rules</a></li>
                  <li><a href="http://js13kgames.github.io/resources/" target="_blank">Resources</a></li>
                  <li class="years">
                    <a href="http://2015.js13kgames.com/">2015</a>
                    <a href="http://2014.js13kgames.com/">2014</a>
                    <a href="http://2013.js13kgames.com/">2013</a>
                    <a href="http://2012.js13kgames.com/">2012</a>
                  </li>
                </ul>
              </nav>
        </div>
      </div>
    </div>
  </header>
  
  <main> 
    <div class="container page__content">
    {{{ body }}}
    </div>
  </main>

  <footer class="footer">
   <div class="container">
        <div class="col-xs-12 col-sm-4">
      <p class="footer__text">&copy; js13kGames 2012-2016. </p>
    </div>
    <div class="col-xs-12 col-sm-8">
       <p class="footer__text footer__text--right">Created and maintained by <a target="_blank" class="footer__link" class= href="http://end3r.com/">Andrzej Mazur</a> from <a target="_blank" class="footer__link" href="http://enclavegames.com/">Enclave Games</a>.</p>
    </div>
    </div>
  </footer>
  
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33368200-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
$(document).ready(function(){
	$('#nav-toggle').click(function(){
		$(this).toggleClass('active');
    $("#menu").toggleClass('hidden-xs');
    $("#menu").toggleClass('hidden-sm');
	});
});
</script>
</body>
</html>
