{{!< main }}
<h2>Admin Panel</h2>

<p>Select an option below</p>

<ul>
  <li><a href="/admin/submissions">Pending submissions</a></li>
  {{#if isSuperUser}}
  <li><a href="/admin/editions">Editions</a></li>
  {{/if}}
</ul>

