{{!< main }}

<div class="row">
  <p class="message error col-xs-12">
    <h3>Sorry, but you do not have enough permissions to access this resource</h3>

    <p>If you think this is an error, please send an email to
    <a href="mailto:contact@js13kgames.com" title="contact email">contact@js13kgames.com</a>.</p>
  </p>
</div>
