{{!< main }}

<div class="row">
  <div class="success columns col-xs-12">
    <h2>Submission successful!</h2>

    <p>Your submission has been saved. However, it still needs to be verified before it becomes available.
    You will receive an e-mail to <b>{{email}}</b> when it gets accepted or rejected.</p>

    <a class="back-link" href="/">Ok, take me back to the home page</a>
  </div>
</div>
