{{!< main }}

<div class="row">
  <p class="message success col-xs-12">
    <b>Success!</b> Your submission has been saved. However, it still needs to be verified before it becomes available.
    You will receive an e-mail to <b>{{email}}</b> when it gets accepted or rejected.
  </p>
</div>
