{{!< main }}

<div class="row">
  <p class="message error col-xs-12">
    <p>The CSRF validation for your submission failed, so your request has been aborted. Please, reload the
    <a href="/submit" title="submit">submit page</a> and try again.</p>

    <p>If this error persist, send an email to
    <a href="mailto:contact@js13kgames.com" title="contact email">contact@js13kgames.com</a>.</p>
  </p>
</div>
