{{!< main }}

<div class="row">
  <p class="message error col-xs-12">
    <p>Sorry but your submission can not be processed because the compo is not running at the moment.</p>

    <p>If you consider this is an error, please send an email to
    <a href="mailto:contact@js13kgames.com" title="contact email">contact@js13kgames.com</a>.</p>
  </p>
</div>
