{{!< main }}

<div class="row">
  <p class="message error col-xs-12">
    <p>Sorry but you can not submit games because the compo is closed.</p>

    <p>If you consider this is an error, please send an email to
    <a href="mailto:contact@js13kgames.com" title="contact email">contact@js13kgames.com</a>.</p>

    <a href="/">Go back</a>
  </p>
</div>
