{{!< main }}

<div class="row">
  <div class="error columns col-xs-12">
    <h2>The compo hasn't opened yet!</h2>
    <p>Sorry but you can not submit games because the compo is closed.</p>

    <p>If you consider this is an error, please send an email to
    <a href="mailto:contact@js13kgames.com" title="contact email">contact@js13kgames.com</a>.</p>

    <a class="back-link" href="/">Ok, take me back</a>
  </div>
</div>
