<h2>Congratulations, {{author}}!</h2>

<div>
  <p>
    <strong>{{title}}</strong>, your submission to the js13kgames contest, has been accepted! It is available at
    <a href="http://js13kgames.com/entries/{{slug}}">js13kgames.com/entries/{{slug}}</a>, so go ahead and start
    promoting it to win bonus prizes!
  </p>
</div>
