<h2>We're so sorry, {{author}}!</h2>

<div>
  <p>
    But <strong>{{title}}</strong>, your submission to the js13kgames contest, has been rejected. Please, reach out
    <a href="mailto:contact@js13kgames.com" title="contact email">contact@js13kgames.com</a> for more details.
  </p>
</div>
