<div class="row row-no-padding">
    <h1 class="heading heading--level1 hidden-xs">HTML5 and JavaScript Game Development Competition in just 13 kB</h1>
</div>
 
{{> 2016/intro }}

{{> 2016/sponsors }}

{{> 2016/judges }}

{{> 2016/prizes }}

{{> common/categories }}

{{> common/rules }}
