<section id="home" class="row">
  <h2>What is js13kGames?</h2>
  
  <div class="hidden-xs col-sm-2">
      <img class="logo" src="/img/logo.png" />
  </div>

  <div class="col-xs-12 col-sm-10">
    <p><strong>Js13kGames</strong> is a JavaScript coding competition for <strong>HTML5 Game Developers</strong>. The fun part of the compo is the file size limit set to <strong>13&nbsp;kilobytes</strong>. The&nbsp;competition will start at <strong>13:00 CEST, 13th August</strong> and will end at <strong>13:00 CEST, 13th September 2016</strong>. Theme will be announced on 13th August.<br /> Read <a href="http://gamedevelopment.tutsplus.com/articles/how-to-minify-your-html5-game-for-the-js13kgames-competition--cms-21883">Tuts+ Gamedev intro article</a> and see the <a href="#rules">Rules</a> for details,<br />good luck and <strong>have fun</strong>!</p>
    <p>The competition is organized by <a href="http://end3r.com">Andrzej Mazur</a> from <a href="http://enclavegames.com/">Enclave Games</a>,<br />check out promo game <a href="http://13.enclavegames.com/">Triskaidekaphobia</a> and grab the <a href="https://www.stickermule.com/marketplace/2734-js13kgames">stickers</a>.</p>
  </div>

  <p class="col-sm-push-2 col-xs-10">
      <a href="http://twitter.com/js13kGames" class="twitter-follow-button" data-button="blue" data-text-color="#FFFFFF" data-link-color="#FFFFFF" data-show-screen-name="false" data-show-count="true">Follow @js13kGames</a>
      <script async defer src="http://js13kgames.herokuapp.com/slackin.js"></script>
      <iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fjs13kGames&amp;send=false&amp;layout=button_count&amp;width=110&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=segoe+ui&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:20px;" allowTransparency="true"></iframe>
  </p>

<div class="col-xs-12 col-sm-5 col-sm-push-2">
  <div class="newsletter" id="mc_embed_signup" >
    <h3 class="newsletter__heading"><a class="newsletter__headinglink" href="http://gamedevjsweekly.com/">Gamedev.js Weekly</a></h3>
    <h4 class="newsletter__subheading">Weekly newsletter about HTML5 Game Development</h4>
    <form action="http://gamedevjs.us3.list-manage.com/subscribe/post?u=4ad274b490aa6da8c2d29b775&amp;id=bacab0c8ca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>   
      <input type="email" value="" name="EMAIL" class="newsletter__emailinput" id="mce-EMAIL" placeholder="Your email address" required>
      <input type="submit" value="Subscribe" name="subscribe" class="newsletter__subscribebtn" >
      <input id="hidden-input" class="newsletter__hiddeninput" type="text" name="b_4ad274b490aa6da8c2d29b775_bacab0c8ca" value="">
    </form>
  </div>
  </div>

<div class="col-xs-12 col-sm-5 col-sm-push-2">
  <div class="countdown">
    <h3>Competition starts in...</h3>
    <h3 id="start"></h3>
    <script>$(document).ready(
      function(){
        $("#start").countdown("2016/08/13",function(event){$(this).text(event.strftime('%D days %H:%M:%S'));})});</script>
  </div>
  </div>

</section>
 