<section id="prizes" class="row section--center">
	<h2>Prizes</h2>
	<article class="prize col-sm-12 col-md-6 col-lg-4" id="moneywithhtml5">
		<img src="/img/prizes/2016/moneywithhtml5.png" alt="Making money with HTML5">
		<div>
			<h3>5 × Making Money with HTML5 ebook</h3>
			<p>Five copies of <a href="http://www.truevalhalla.com/blog/ebook/">Making Money with HTML5</a> ebook by <a href="http://www.truevalhalla.com/">Matthew Bowden</a>.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" id="construct2">
		<img src="/img/prizes/2016/construct2.png" alt="Construct 2">
		<div>
			<h3>3 × Construct 2 game engine personal license</h3>
			<p>Three Personal licenses for <a href="https://www.scirra.com/construct2">Construct 2</a> game engine created by <a href="https://www.scirra.com/">Scirra</a>.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" id="playcanvas">
		<img src="/img/prizes/2016/playcanvas.png" alt="Playcanvas">
		<div>
			<h3>10 × PlayCanvas Pro-5 account</h3>
			<p>Ten 6-month <a href="http://playcanvas.com/">PlayCanvas</a> Pro-5 accounts offering cloud-hosted, collaborative platform for building video games.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" id="impactjs">
		<img src="/img/prizes/2016/impactjs.png" alt="ImpactJS">
		<div>
			<h3>5 × ImpactJS game engine</h3>
			<p>Five licenses for <a href="http://impactjs.com/">ImpactJS</a> game engine created by <a href="http://www.phoboslab.org/">Dominic Szablewski</a>.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" id="gamedevcourse">
		<img src="/img/prizes/2016/gamedevcourse.png" alt="Complete Mobile Game Development Course">
		<div>
			<h3>5 × Complete Mobile Game Development Course</h3>
			<p>Five coupons for the online <a href="https://academy.zenva.com/product/the-complete-mobile-game-development-course-platinum-edition/?zva_src=js13k2016">Complete Mobile Game Development Course</a> platinum edition from <a href="https://academy.zenva.com/">Zenva Academy</a>.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" id="webstorm">
		<img src="/img/prizes/2016/webstorm.png" alt="WebStorm">
		<div>
			<h3>7 × WebStorm personal license</h3>
			<p>Seven personal licenses for the <a href="https://www.jetbrains.com/webstorm/">WebStorm</a> JavaScript IDE created by the <a href="http://www.jetbrains.com/">JetBrains</a> team.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" id="pusher">
		<img src="/img/prizes/2016/pusher.png" alt="Pusher">
		<div>
			<h3>3 × Pusher $300 credit</h3>
			<p>Three promo codes worth $300 each for the <a href="https://pusher.com/">Pusher</a> services.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" >
		<img src="/img/prizes/prize.png" alt="prize col-sm-12 col-md-6 col-lg-4">
		<div>
			<h3>Prize</h3>
			<p>Prize's description.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" >
		<img src="/img/prizes/prize.png" alt="prize col-sm-12 col-md-6 col-lg-4">
		<div>
			<h3>Prize</h3>
			<p>Prize's description.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" >
		<img src="/img/prizes/prize.png" alt="prize col-sm-12 col-md-6 col-lg-4">
		<div>
			<h3>Prize</h3>
			<p>Prize's description.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" >
		<img src="/img/prizes/prize.png" alt="prize col-sm-12 col-md-6 col-lg-4">
		<div>
			<h3>Prize</h3>
			<p>Prize's description.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" >
		<img src="/img/prizes/prize.png" alt="prize col-sm-12 col-md-6 col-lg-4">
		<div>
			<h3>Prize</h3>
			<p>Prize's description.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" >
		<img src="/img/prizes/prize.png" alt="prize col-sm-12 col-md-6 col-lg-4">
		<div>
			<h3>Prize</h3>
			<p>Prize's description.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" >
		<img src="/img/prizes/prize.png" alt="prize col-sm-12 col-md-6 col-lg-4">
		<div>
			<h3>Prize</h3>
			<p>Prize's description.</p>
		</div>
	</article>
	<article class="prize col-sm-12 col-md-6 col-lg-4" >
		<img src="/img/prizes/prize.png" alt="prize col-sm-12 col-md-6 col-lg-4">
		<div>
			<h3>Prize</h3>
			<p>Prize's description.</p>
		</div>
	</article>
  <div class="row">
	  <a class="up" href="/"></a>
  </div>
</section>