<section id="winners" class="winners row">
    <section id="winners-desktop">
        <h2>Winners - Desktop</h2>
        <article class="winner">
            <img src="/games/behind-asteroids-the-dark-side/__small.jpg" alt="Behind Asteroids — The Dark Side">
            <h3><span>1st place</span> <a href="/entries/behind-asteroids-the-dark-side">Behind Asteroids — The Dark Side</a> <span>by</span> Greweb</h3>
        </article>
        <article class="winner">
            <img src="/games/road-blocks/__small.jpg" alt="Road Blocks">
            <h3><span>2nd place</span> <a href="/entries/road-blocks">Road Blocks</a> <span>by</span> Ash Kyd</h3>
        </article>
        <article class="winners__runnerup section--center">
            <ul>16. <a href="/entries/cargo-72">Cargo-72</a> <span>by</span> ElementalSystems</ul>
            <ul>17. <a href="/entries/its-a-lovely-day-for-a-drive">It's a Lovely Day for a Drive</a> <span>by</span> Jay Oster</ul>
            <ul>18. <a href="/entries/word-blast">Word Blast</a> <span>by</span> Kushagra Gour</ul>
            <ul>19. <a href="/entries/glyph-o-tron">GLYPH-O-TRON</a> <span>by</span> Nathan Blenke</ul>
            <ul>20. <a href="/entries/zodiac-13">Zodiac 13</a> <span>by</span> Herman Chau</ul>
            <ul>21. <a href="/entries/time-mit">TIME || ƎMIT</a> <span>by</span> Daniel Johnson</ul>
            <ul>22. <a href="/entries/battle-of-mages-in-the-unireverse">Battle of Mages in the UniReverse</a> <span>by</span> plissken2013es</ul>
        </article>
        <article class="winners__runnerup winner__runnerup--small section--center">
            <ul>31-40.  Fruit rev, R3V3RS3 IT, Glitchtris, Please die, rotatris, Grav Bot, Super Dragon Rescue, Riversed, Reverse and Try Again, Reverse Ground Battle</ul>
            <ul>41-50. Fantastic Monster Chronicles, Dutch Dredge, Anti-Paradox Run, Flappy Box, ParaTec Systems, Shapes Love Numbers, PAPERTRON, Drawbacks, Move my World, Eugor</ul>
            <ul>51-60. Roulette, Reversed Sandwich Maker, Squared Lines js13k Reversed, desreveR, Drake's quest 🏃, Bridge The Gap, Nova Runner, nbody, WooM, kfish</ul>
        </article>
    </section>
    <section id="winners-mobile">
        <h2>Winners - Mobile</h2>
        <article class="winner">
            <img src="/games/behind-asteroids-the-dark-side/__small.jpg" alt="Behind Asteroids — The Dark Side">
            <h3><span>1st place</span> <a href="/entries/behind-asteroids-the-dark-side">Behind Asteroids — The Dark Side</a> <span>by</span> Greweb</h3>
        </article>
        <article class="winner">
            <img src="/games/road-blocks/__small.jpg" alt="Road Blocks">
            <h3><span>2nd place</span> <a href="/entries/road-blocks">Road Blocks</a> <span>by</span> Ash Kyd</h3>
        </article>
        <article class="winners__runnerup">
            <ul>11. <a href="/entries/galactic-backfire">Galactic Backfire</a> <span>by</span> Rene Hangstrup Møller</ul>
            <ul>12. <a href="/entries/reversed-the-game">Reversed: The Game</a> <span>by</span> Mark Vasilkov</ul>
            <ul>13. <a href="/entries/men-in-maze">Men In Maze</a> <span>by</span> Iftah</ul>
            <ul>14. <a href="/entries/glitchtris">Glitchtris</a> <span>by</span> ViLPy</ul>
            <ul>15. <a href="/entries/riversed">Riversed</a> <span>by</span> Grzegorz Tańczyk</ul>
            <ul>16. <a href="/entries/reverse-ground-battle">Reverse Ground Battle</a> <span>by</span> Mattia Fortunati</ul>
            <ul>17. <a href="/entries/anti-paradox-run">Anti-Paradox Run</a> <span>by</span> Fatfisz</ul>
            <ul>18. <a href="/entries/flappy-box">Flappy Box</a> <span>by</span> Towc</ul>
            <ul>19. <a href="/entries/shapes-love-numbers">Shapes Love Numbers</a> <span>by</span> Kakus</ul>
            <ul>20. <a href="/entries/papertron">PAPERTRON</a> <span>by</span> Csaba Csecskedi</ul>
        </article>
    </section>
    <section id="winners-server">
        <h2>Winners - Server</h2>
        <article class="winner">
            <img src="/games/men-in-maze/__small.jpg" alt="Men In Maze">
            <h3><span>1st place</span> <a href="/entries/men-in-maze">Men In Maze</a> <span>by</span> Iftah</h3>
        </article>
        <article class="winner">
            <img src="/games/papertron/__small.jpg" alt="PAPERTRON">
            <h3><span>2nd place</span> <a href="/entries/papertron">PAPERTRON</a> <span>by</span> Csaba Csecskedi</h3>
        </article>
        <article class="winners__runnerup">
            <ul>6. <a href="/entries/bokosan">Bokosan</a> <span>by</span> Gabor and Zsolt Heja</ul>
            <ul>7. <a href="/entries/ant-realm">Ant Realm</a> <span>by</span> Aurium</ul>
            <ul>8. <a href="/entries/shapewars">Shapewars</a> <span>by</span> Claim</ul>
            <ul>9. <a href="/entries/alivenloaded">Alive'n'Loaded</a> <span>by</span> Siorki</ul>
            <ul>10. <a href="/entries/nommon-brothers">Nommon Brothers</a> <span>by</span> Carson Barlow</ul>
        </article>
    </section>
    <article id="winners-community" class="winners__runnerup">
        <h2>Community Awards winners</h2>
        <p>Voted among the developers themselves.</p>
        <ul>
            <li>1. <a href="/entries/behind-asteroids-the-dark-side">Behind Asteroids — The Dark Side</a> <span>by</span> greweb - 79 points</li>
            <li>2. <a href="/entries/its-raining-boxes">It's Raining... Boxes?!</a> <span>by</span> Rémi Vansteelandt - 47</li>
            <li>3. <a href="/entries/road-blocks">Road Blocks</a> <span>by</span> Ash Kyd - 39</li>
            <li>4. <a href="/entries/chesspursuit">ChessPursuit</a> <span>by</span> Saturnyn - 31</li>
            <li>5. <a href="/entries/captain-reverso">Captain Reverso</a> <span>by</span> GregPabian - 28</li>
            <li>6. <a href="/entries/cargo-72">cargo-72</a> <span>by</span> ElementalSystems - 17</li>
            <li>7. <a href="/entries/roulette">Roulette</a> <span>by</span> razh - 16</li>
            <li>7. <a href="/entries/time-mit">TIME || ƎMIT</a> <span>by</span> Daniel Johnson - 16</li>
            <li>9. <a href="/entries/the-cursed-mirror">The Cursed Mirror</a> <span>by</span> morazor - 15</li>
            <li>10. <a href="/entries/roboflip">RoboFlip</a> <span>by</span> eoinmcg - 13</li>
            <li>11. <a href="/entries/taxi-drift">Taxi Drift</a> <span>by</span> Rémi Vansteelandt - 12</li>
            <li>11. <a href="/entries/its-a-lovely-day-for-a-drive">It's a Lovely Day for a Drive</a> <span>by</span> Jay Oster (Parasyte) - 12</li>
            <li>13. <a href="/entries/dungeon-advisor">Dungeon Advisor</a> <span>by</span> royletron - 10</li>
        </ul>
    </article>
    <article id="winners-social" class="winners__runnerup">
        <h2>Social Special winners</h2>
        <p>For the most popular games on the social networks.</p>
        <h3 id="winners-twitter">Twitter Special</h3>
        <ul>
            <li>1. <a href="/entries/super-dragon-rescue">Super Dragon Rescue</a> <span>by</span> madmarcel - 131 tweets</li>
            <li>2. <a href="/entries/flappy-box">Flappy Box</a> <span>by</span> towc - 105 tweets</li>
            <li>3. <a href="/entries/road-blocks">Road Blocks</a> <span>by</span> Ash Kyd - 52 tweets</li>
            <li>4. <a href="/entries/its-raining-boxes">It's Raining... Boxes?!</a> <span>by</span> Rémi Vansteelandt - 49 tweets</li>
            <li>5. <a href="/entries/behind-asteroids-the-dark-side">Behind Asteroids — The Dark Side</a> <span>by</span> greweb - 48 tweets</li>
        </ul>
        <h3 id="winners-facebook">Facebook Special</h3>
        <ul>
            <li>1. <a href="/entries/rev-emerald-mine">Rev. Emerald Mine</a> <span>by</span> Zutatensuppe - 127 likes</li>
            <li>2. <a href="/entries/bridge-the-gap">Bridge The Gap</a> <span>by</span> Varun Malhotra - 94 likes</li>
            <li>3. <a href="/entries/bokosan">Bokosan</a> <span>by</span> Gabor and Zsolt Heja - 80 likes</li>
            <li>4. <a href="/entries/changing-world">Changing World</a> <span>by</span> adi - 79 likes</li>
            <li>5. <a href="/entries/flappy-box">Flappy Box</a> <span>by</span> towc - 44 likes</li>
        </ul>
        <h3 id="winners-google">Google+ Special</h3>
        <ul>
            <li>1. <a href="/entries/reversed-the-game">Reversed: The Game</a> <span>by</span> Mark Vasilkov - 66 +1's</li>
            <li>2. <a href="/entries/flappy-box">Flappy Box</a> <span>by</span> towc - 16 +1's</li>
            <li>3. <a href="/entries/ribbit-smash">Ribbit Smash</a> <span>by</span> Loktar - 12 +1's</li>
            <li>4. <a href="/entries/galactic-backfire">Galactic Backfire</a> <span>by</span> Rene Hangstrup Møller - 11 +1's</li>
            <li>4. <a href="/entries/drakes-quest">Drake's quest 🏃</a> <span>by</span> Herman Starikov - 11 +1's</li>
        </ul>
    </article>
    <article id="winners-firefoxos" class="winners__runnerup">
        <h2>Firefox OS Special</h2>
        <p style="font-size: 14px;">Firefox OS Flames for the best mobile games handpicked by Mozilla staff.</p>
        <ul>
            <li>1. <a href="/entries/behind-asteroids-the-dark-side">Behind Asteroids — The Dark Side</a> <span>by</span> Greweb</li>
            <li>2. <a href="/entries/road-blocks">Road Blocks</a> <span>by</span> Ash Kyd</li>
            <li>3. <a href="/entries/roboflip">RoboFlip</a> <span>by</span> Eoinmcg</li>
        </ul>
    </article>
</section>