<section id="contact" class="row section--center">
    <div class="col-xs-12">
    <h2>Contact</h2>
    <p>If You have any questions or propositions please feel free to contact us via e-mail: <span>contact@js13kgames.com</span>.<br>The other options include visiting our profiles on <a href="http://twitter.com/js13kgames">Twitter</a> or <a href="http://facebook.com/js13kgames">Facebook</a>,<br> or joining our <a href="https://slack.js13kgames.com/">Slack channel</a> and sending us the private message.</p>
    <a class="up" href="/"></a>
    </div>
</section>